<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
 <body>
 <div class="container">
     {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class="alert alert-{{ category }}">
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

     <div class="card mt-5">
          <div class="card-body">
              <form method="post">

             <div class="form-group">
                <label for="search_city">Search City Temprature</label>
                <input type="text" name="search_city" class="form-control" id="search_city" placeholder="Enter City Name">
              </div>
              <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary">Search</button>
              </div>
              </form>

          </div>
        </div>

        {% if response %}
     <h2 class="mt-5">
         <div class="d-flex justify-content-center">
             <img src="http://openweathermap.org/img/w/{{ response.weather[0].icon }}.png" alt="Image">
{{response.name}}
         </div>
         </h2>
        <div class="card mt-5">
            <div class="card-body">
                <div class="row">
                           <div class="col-md-4">
                    <p>Weather Detail</p>
                    <ul class="list-group">
                          <li class="list-group-item">{{response.weather[0].main}}</li>
                          <li class="list-group-item">{{response.weather[0].description}}</li>
                        </ul>
                </div>
                <div class="col-md-4">
                    <p>Temprature Detail</p>
                    <ul class="list-group">
                          <li class="list-group-item">{{response.main.temp}}</li>
                          <li class="list-group-item">{{response.main.feels_like}}</li>
                          <li class="list-group-item">{{response.main.temp_min}}</li>
                          <li class="list-group-item">{{response.main.temp_max}}</li>
                          <li class="list-group-item">{{response.main.pressure}}</li>
                          <li class="list-group-item">{{response.main.humidity}}</li>
                        </ul>
                </div>
                <div class="col-md-4">
                    <p>Wind Detail</p>
                    <ul class="list-group">
                          <li class="list-group-item">{{response.wind.speed}}</li>
                          <li class="list-group-item">{{response.wind.deg}}</li>
                          <li class="list-group-item">{{response.wind.gust}}</li>

                        </ul>
                </div>


                </div>


            </div>
        </div>
     {% endif %}
 </div>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </body>
</html>